# Supabase Configuration
VITE_SUPABASE_URL=https://zpnrmtycyilldemhraam.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpwbnJtdHljeWlsbGRlbWhyYWFtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTE0ODY2OTUsImV4cCI6MjA2NzA2MjY5NX0.ixlUtdSNH7AFXByoY6BGM_NJz-UO-CWSTcDy2MH7Qag

# Example:https://your-project.supabase.co
# VITE_SUPABASE_URL=
# VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9... 